@font-face {
  font-family: Mulish-Regular;
  src: url(../../fonts/Mulish/Mulish-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Mulish-Bold;
  src: url(../../fonts/Mulish/Mulish-Bold.ttf);
  font-weight: 700;
}
.frame1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.frame1__tape1, .frame1__tape2, .frame1__tape3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}