@font-face {
  font-family: Mulish-Regular;
  src: url(../../fonts/Mulish/Mulish-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Mulish-Bold;
  src: url(../../fonts/Mulish/Mulish-Bold.ttf);
  font-weight: 700;
}
body {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1360px;
  background-color: white;
  padding-left: 125px;
  padding-right: 125px;
  padding-bottom: 47px;
  padding-top: 61px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0;
}

.title-wrappper {
  margin-top: 96px;
}

.frame1-wrapper {
  margin-top: 144px;
}

.group-wrapper {
  margin-top: 91px;
}

.awards-wrapper {
  margin-top: 101px;
}

.footer-wrapper {
  margin-top: 114px;
}