@font-face {
    font-family: Mulish-Regular;
    src: url(../fonts/Mulish/Mulish-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Mulish-Bold;
    src: url(../fonts/Mulish/Mulish-Bold.ttf);
    font-weight: 700;
}
    
.content {
    display:grid;
    width: 1110px;
    /*height: ;*/
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 371px 660px 93px 400px;
    gap: 45px 30px;
    font-family: Mulish-Regular, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.content__text {
    font-family: Mulish-Regular, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgba(17,17,17,0.8);
}

.content__description {
    grid-area: 1 / 1 / 2 / 3;
}

.content__title {
    font-family: Mulish-Bold, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
    color: rgba(17,17,17,1);

}

.content__text1 {
    width: 635px;
    height: 222px;
}

.content__details {
    grid-area: 1 / 3 / 2 / 4;
}

.content__image--big {
    grid-area: 2 / 1 / 3 / 4;
}

.content__text2 {
    grid-area: 3 / 1 / 4 / 4;
}

.content__image21 {
    grid-area: 4 / 1 / 5 / 2;
}

.content__image22 {
    grid-area: 4 / 2 / 5 / 3;
}

.content__image23 {
    grid-area: 4 / 3 / 5 / 4;
}

.content__image--medium {
    width: 350px;
    height: 400px;
}