body {
    margin: auto;
    width: 1360px;
    height: 2068px;
    box-sizing: border-box;
    background-color: white;
    padding-left: 125px;
    padding-right: 125px;
    padding-bottom: 44px;
    padding-top: 61px;
}
