@font-face {
    font-family: Mulish-Regular;
    src: url(../fonts/Mulish/Mulish-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Mulish-Bold;
    src: url(../fonts/Mulish/Mulish-Bold.ttf);
    font-weight: 700;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1110px;
    height: 23px;
    padding-bottom: 110px;
}