@font-face {
    font-family: Mulish-Regular;
    src: url(../fonts/Mulish/Mulish-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Mulish-Bold;
    src: url(../fonts/Mulish/Mulish-Bold.ttf);
    font-weight: 700;
}

.nav__links {
    width: 162px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Mulish, sans-serif;
    font-size: 18px;
    font-weight: 700;
}